body {
    background-color: black;
    padding-left: 20px;
}

#instructions {
    color: lime;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 11pt;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0;
    overflow: auto;
}

#inputcommands {
    border: none; outline: none;
}
